Source: choose-profile
Section: misc
Priority: optional
Maintainer: Ben Hildred <42656e@gmail.com>
Uploaders: Ben Hildred <42656e@gmail.com>
Build-Depends:
 debhelper (>= 5.0.0),
 dpkg-dev (>= 1.16.1),
 pkg-config,
Standards-Version: 3.8.4
Vcs-Git: https://github.com/hildred/choose-profile.git
Vcs-Browser: https://github.com/hildred/choose-profile

Package: choose-profile
Package-Type: udeb
Architecture: all
Depends: ${misc:Depends}, configured-network, choose-profile-bin
XB-Installer-Menu-Item: 2250
Description: Choose machine profile (menu item)
 This menu entry asks one question, pulls in additional preseed values based
 on the result but leaves the heavy lifting for the preseed files. If the
 question it asks is preseeded it will just automatically pull in the appropriate
 additional preseed files. It is not useful and not shown if not setup in preseed.

Package: install-data
Package-Type: udeb
Architecture: all
Depends: ${misc:Depends}, configured-network, choose-profile-bin
XB-Installer-Menu-Item: 7750
Description: Install Data (menu item)
 This is a hook only menu entry that allows installation of user data
 It does not show up if not preseeded. Think of it as preseed/late-command
 with a progress bar, although it happens slightly earlier than late-command.

Package: choose-profile-bin
Package-Type: udeb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Choose machine profile (program)

Package: choose-profile-documentation
Architecture: all
Depends:
Description: documentation for choose profile
 Choose profile is a menu entry for Debian installer
 that provides preseed customization to allow for dedicated
 function machines to be built entirely from the preseeded
 installer. Some typical uses would be for backup restores
 choosing which backup image to use or for a website deployment
 to choose which machine is being built. This is not useful in
 a non-preseed environment and is mostly useful there for asking
 one question during install, although that question can also be
 preseeded if you just want the system data installer hook.
